<div class="container">
  <div class="row">
    <div class="col-md-12">
      <section id="image-carousel">
        <div id="hulse-carousel" class="carousel carousel-fade slide" data-ride="carousel">
          <%= render 'shared/carousel' %>
        </div>
      </section>
    </div>
  </div>
</div>

<section id="home-content">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= raw @page.content_for(:body) %>
      </div>
    </div>
  </div>
</section>