<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="hulse-carousel" class="carousel slide" data-ride="carousel">
        <%= render 'shared/carousel' %>
      </div>
    </div>
  </div>
</div>

<div class="container">  
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Dr. Kurt Hulse - Credentials</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 ">     
      <h3>Education</h3>
      <table class="table">
        <tr>
          <td>Onalaska High School</td>
          <td>1982</td>
        </tr>
        <tr>
          <td>Luther College, Decorah IA</td>
          <td>1986</td>
        </tr>
        <tr>
          <td>University of Minnesota Dental School</td>
          <td>1990</td>
        </tr>
        <tr>
          <td>Residency Training, Balboa Naval Hospital, San Diego, CA</td>
          <td>1991</td>
        </tr>
        <tr>
          <td>Dental Officer, USS Ft. McHenry LSD-43</td>
          <td>1992</td>
        </tr>
        <tr>
          <td>Hulse Dental</td>
          <td>1993</td>
        </tr>
      </table>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <h3>Professional Associations</h3>
        <ul>
          <li>President, La Crosse District Dental Society</li>
          <li>Wisconsin Dental Association</li>
          <li>American Academy of Cosmetic Dentistry</li>
          <li>American Academy of Operative Dentistry</li>
          <li>Director, ADA "Give Kids a Smile" program</li>
        </ul>
    </div>
  </div>
</div>

