$hulse-gray:#424242;
$hulse-gray-lightest:lighten($hulse-gray, 50%);
$hulse-gray-light:lighten($hulse-gray, 30%);
$hulse-purple:#6459c4;


// .navbar-default {
//   background-color:$hulse-gray !important;
// }

// .navbar {
//   border-radius:0px !important;
//   border-color:transparent !important;
// }

$body-bg:$hulse-gray;

$navbar-border-radius:0px;
$navbar-default-border:#a6a6a6;
$navbar-default-bg:#a6a6a6;
$navbar-default-toggle-border-color:transparent;
$navbar-default-toggle-hover-bg:lighten($hulse-gray, 10%);
$navbar-height:40px;
$navbar-margin-bottom:50px;
$navbar-padding-vertical:0px;
$navbar-default-link-color:#fff;
$navbar-default-link-hover-color:$hulse-purple;
$dropdown-bg:lighten($hulse-purple, 30%);
$dropdown-link-hover-bg:lighten($hulse-purple, 20%);
$dropdown-link-active-bg:lighten($hulse-purple, 10%);



$text-color:#fff;
$font-size-base:16px;
$line-height-base:1.85;
h1, h2, h3 {font-weight:100 !important;}
p {color:#fff;}





