@import 'base.css.scss';

footer {
  padding:40px 20px;
}

footer .container {
  background-color:#424242;
  text-align:center;
}

.container {
  background-color:#a6a6a6;
  a {
    color:darken($hulse-purple, 10%);
    &:hover {
      color:lighten($hulse-purple, 5%);
    }
  }
}

#pre-footer {
  height:50px;
}

#contact-info {
  .container {background-color:#a6a6a6;} 
  span {margin:0 1em;font-size:92%;color:#6459c4;}

}

h1 {
  color:$hulse-gray-lightest;
  margin-top:0px;
  padding-top:0px;
}

p, li {
  color:#ffffff;
}



#hulse-carousel img {

  width:100%;
  a {color:#fff;}
}

#image-carousel {
  margin:15px 0px 25px 0px;
}


.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}


